# ---- PostgreSQL ----
POSTGRES_USER=basel
POSTGRES_PASSWORD=basel123
POSTGRES_DB=regulatory
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# ---- Spark ----
SPARK_MASTER_URL=spark://localhost:7077

# ---- FDIC ----
FDIC_API_BASE=https://api.fdic.gov/banks
FDIC_REPORT_DATE=20240331
